/* You can add global styles to this file, and also import other style files */

* {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0;

  --sidebar-width: 20rem;

  --rounding-radius: 0.625rem;
  --padding: 12px;

  --primary: #1c3416;
  --primary-light: #284a1f;
}