<div class="card-container">

  <div class="card">
  
    <!-- <div>top row</div> -->

    @if (chapters_loading()) {
      <div class="message">Loading...</div>
    } @else if (chapters_error() !== undefined) {
      <div class="message">{{ "Error:"}}<br>{{chapters_error()?.message }}</div>
    } @else {
      <div class="card-header">
        <select class="select" [formControl]="chapterControl"
        >
          @for (chapter of chapters(); track chapter.id) {
            <option [value]="chapter.id">
              {{ `${chapter.id}: ${chapter.translatedName.name}`}}
            </option>
          }
        </select>
        <div></div>
        <!-- <input #verseKeyInput class="select" type="text" (keydown.enter)="verseInput = verseKeyInput.value"> -->
      </div>
      <hr/>
      @if (verses_loading()) {
        <div class="message">Loading...</div>
      } @else if (verses_error() !== undefined) {
        <div class="message">{{ "Error:"}}<br>{{verses_error()?.message }}</div>
      }
      <div class="verses">
        @for (verse of verses(); track verse.verseNumber) {
          <!-- <div> -->
            <span class="verse-container" (click)="selectVerse(verse)" [style]="highlightVerse(verse)">
              <sup class="verse-number">{{verse.verseNumber}} </sup>
              <span class="verse-text">{{strip(verse.translations?.at(0)?.text)}}</span>
              <br [hidden]="true">
              <!-- <span class="verse-text">{{verse.textUthmani}}</span> -->
            </span>
          <!-- </div> -->
        }
      </div>
    }
  </div>

  <div><!-- empty div for card spacing grid --></div> 

  <div class="card">
    <h4 style="justify-self: center; padding: 1rem">Commentary</h4>
    <hr/>

    <div class="notes">
      @if (selectedVerse == null) {
        <h4 style="justify-self: center;"><b>Click on a verse to view relevant commentary</b></h4>
      } @else {
        <h4 style="justify-self: center;"><b>Tafsir ibn Kathir on {{selectedVerse.verseKey}}</b></h4>
        <div [innerHTML]="selectedVerse.tafsirs?.at(0)?.text"></div>
      }
    </div>
  </div>

</div>
