<div class="card-container">

  <div class="card">
  
    <!-- <div>top row</div> -->

    @if (chapters_loading()) {
      <div class="message">Loading...</div>
    } @else if (chapters_error() !== undefined) {
      <div class="message">{{ "Error:"}}<br>{{chapters_error()?.message }}</div>
    } @else {
      <select class="select" [formControl]="chapterControl"
      >
        @for (chapter of chapters(); track chapter.id) {
          <option [value]="chapter.id">
            {{ `${chapter.id}: ${chapter.translatedName.name}`}}
          </option>
        }
      </select>
      <br/>
      <hr/>
      @if (verses_loading()) {
        <div class="message">Loading...</div>
      } @else if (verses_error() !== undefined) {
        <div class="message">{{ "Error:"}}<br>{{verses_error()?.message }}</div>
      }
      <div class="verses">
        @for (verse of verses(); track verse.verseNumber) {
          <div>
            <sup class="verse-number">{{verse.verseNumber}} </sup>
            <span>{{strip(verse.translations?.at(0)?.text)}} </span>
          </div>
        }
      </div>
    }

  </div>
  
  <div></div>
  <div class="card">
    <h4><b>Test</b></h4>
  </div>

</div>
