.sidenav {
  background: var(--primary);
  transition: all 0.5s ease;
  position: fixed;
  z-index: 1;
  top: 0;
  width: var(--sidebar-width);
  height: 100%;
  box-shadow: 0.063rem 0 1.25rem 0 #8690a3;
}
.sidenav-collapsed {
  width: 5rem;
}
.sidenav .logo-container {
  display: flex;
  align-items: center;
  padding: 0.938rem;
}
.sidenav .logo-container .logo {
  background: #fff;
  text-align: center;
  width: 3rem;
  min-width: 3rem;
  border-radius: var(--rounding-radius);
  padding: 0.313rem;
  font-size: 24px;
  font-weight: 900;
  cursor: pointer;
  border: none;
  color: var(--primary);
}
.sidenav .logo-container .logo-text {
  margin-left: 1.5rem;
  font-size: 24px;
  font-weight: 900;
  white-space: nowrap;
  overflow: hidden;
}

hr {
  margin: 0.65rem 1rem 0.65rem 1rem;
}

.sidenav-nav {
  list-style: none;
  padding: 0.938rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  gap: 10px;
  .sidenav-nav-item {
    width: 100%;
    .sidenav-nav-link {
      display: flex;
      align-items: center;
      height: 3rem;
      color: #f3f3f3;
      text-decoration: none;
      border-radius: var(--rounding-radius);
      transition: all 0.3s ease;
      .sidenav-link-icon {
        font-size: 22px;
        text-align: center;
        padding: 12px;
        min-width: 1.25em;
      }
      .sidenav-link-text {
        margin-left: 1.5rem;
        white-space: nowrap;
        overflow: hidden;
        .logo-text {
          font-weight: 900;
        }
      }
    }
  }
}

.active {
  background-color: #fff !important;
}
.active .sidenav-link-icon,
.active .sidenav-link-text {
  color: var(--primary);
}

.sidenav-nav .sidenav-nav-item:hover .sidenav-nav-link {
  background-color: var(--primary-light);
}

.about-container {
  display: flex;
  align-items: center;
  padding: 0.938rem;

  .about {
    background: #fff;
    text-align: center;
    width: 3rem;
    min-width: 3rem;
    border-radius: var(--rounding-radius);
    padding: 0.313rem;
    font-size: 24px;
    font-weight: 900;
    cursor: pointer;
    border: none;
    color: var(--primary);
  }
  .about-text {
    margin-left: 1.5rem;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
  }
}